/* MAIN CONTAINER */
.hero-section {

  margin-top:  50px !important;
  padding: 25px !important;
  background-color: #f9f9f9;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  text-align: justify !important;

  margin-bottom: 50px !important;
  padding-bottom: 50px !important;
  width: 70% !important;

}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  text-align: justify !important;
}

.typing-text {
  font-size: 3.2rem;
  font-weight: 800;
  color: #0d47a1; /* BLUE */
  color: #8b0000;
  margin-top: 40px;  
}

.bio {
  font-size: 1.7rem;
  padding-top: 10px;
 
  color: #333;
 
}

.left {
  padding: 20px;
  float: right !important;
  margin-top: 40px;
  line-height: 0.5px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
  font-size: 15px;
  color: #333;
  padding-top: 4px;  
}

.icon {
  font-size: 16px;
  color: #555;
}


.resume-profile-image {
 width: 180px;
  border-radius: 50%;
 
  }

  ul {
    list-style-type: none;
    padding: 0;
    pagging-left: 0px
  }

  .section-title {
  position: relative;
  padding-left: 12px;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #0d6efd; /* blue */
  font-weight: bold;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.skills-list {
  margin: 0;          /* default margin remove */
  padding-left: 0;    /* default padding remove */
  list-style: none;   /* bullets remove (optional) */
  padding: 0; 
  font-size:  0.875rem;
}

.divider {
  width: 1px;
  background-color: #ccc;
  height: 100%;
}

.para {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 700;
  color:#333;
  text-align: justify !important;
} 

.section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #0d6efd; /* blue */
  font-weight: bold;
}