/* Background */

body {
  background-color: #f4f7fa;
}

.header-bg {
  color: #fff;
  padding: 0px;
  margin-top: 10px;
  background-color: #F3F4F4;
  width: 75% !important;
  padding-bottom: 20px !important;
  margin-bottom: 50px !important;
}

/* IMAGE */
.image-col {
  object-fit: cover;
  background-color: none !important;
}
.main{
  background-color: #44505f;
}

.profile-img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 0%;

}


/* CENTER INFO */
.name {
  font-weight: bold;
  letter-spacing: 2px;
}

.role {
  opacity: 0.8;
  margin-bottom: 15px;
}

/* FLEX USE (icon + text) */

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

/* RIGHT COLUMN */
.social-col {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  color:#ffffff;
}

.info-item {
    color:white;
}

.resume-progress {
  height: 9px !important;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.h5 {
  padding-top: 15px !important;
}
.skill-list {
      list-style-type: none;
  padding-left: 0;
}

* {
  text-align: justify;
}

.resume-progress {
  background-color: #ff6b6b !important;
  width: 200px
}

.progress-bar {
  background-color: #44505f !important;
  width:  100px;
}

.address-col {

  color: #44505f;
 
  border-radius: 5px;
}

.resume-section-title {
    font-size: 1.25rem;
    position: relative;
    color: #434E5E;
}

.address-col {
  border-left: 2px solid #BFC9D1;
}

.address-col {
  border-top: 2px solid #BFC9D1;
}
/* .address-col {
  border-bottom: 2px solid #BFC9D1;
} */